<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form method="POST" action="/create">
		<fieldset>
			<p><label>New item:</label><input type="text" name="text"></p>
		</fieldset>
		<input type="submit" value="Post">
	</form>
  </body>
</html>